.wrapper {
	height: auto;
	min-height: 100%;
	position: relative;
}

.header {
	height: 64px;
	width: 100%;
	background-color: #2C2C2C;
}

.title {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 32px;
	font-size: 32px;
	font-family:'Fugaz One';
	text-align: center;
	color: white;
	padding-top: 6px;
}

.logoSection {
	background-color: #1CBFE2;
	height: 256px;
}

.logo {
	margin: auto;
	display: block;
	height: 232px;
	width: 232px;
	padding-top: 6px;
	display: block !important;
}

.page {
	padding-bottom :32px;
	width: 100%;
	min-height: calc(100vh - 64px - 32px - 256px);
	display: flex;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 32px;
	width: 100%;
	background-color: #191919;
	bottom: 0;
}

.footerText {
	text-align: center;
	color: white !important;
	padding-top: 6px;
}