g {
	width: 32px;
	height: 32px;
}

.wrapper {
	height: auto;
	min-height: 100%;
	position: relative;
}

.logoSection {
	background-color: #1CBFE2;
	height: 256px;
}

.logo {
	margin: auto;
	display: block;
	height: 232px;
	width: 232px;
	padding-top: 6px;
	display: block !important;
}

.page {
	padding-bottom :32px;
	width: 100%;
	min-height: calc(100vh - 64px - 32px - 256px);
	display: flex;
}

.footerText {
	text-align: center;
	color: white !important;
	padding-top: 6px;
}