.SettingsLeft {
    background-color: #2e3136;
    width: 190px;
    color: white;
    font-weight: 500;
    min-height: calc(100vh - 64px - 32px - 120px);
}

.settingsTitle {
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 18px;
    font-size: 24px;
    font-family: Lato;
    text-transform: uppercase;
    box-shadow: 0 2px 0 rgba(0,0,0,.05), inset 0 -2px 0 rgba(0,0,0,.1);
    cursor: default;
    user-select: none;
}