g {
    width: 32px;
    height: 32px;
}

.wrapper {
    height: auto;
    min-height: 100%;
    position: relative;
}

.logoSection {
    background-color: #1CBFE2;
    height: 120px;
}

.logo {
    margin: auto;
    display: block;
    height: 100px;
    width: 100px;
    padding-top: 6px;
    /*noinspection CssOverwrittenProperties*/
    display: block !important;
}

.main-flex {
    display: flex;
    position: relative;
}

.main {
    position: relative;
}

.page {
    padding-bottom :32px;
    width: calc(100% - 190px);
    min-height: calc(100vh - 64px - 32px - 120px);

    left: 190px;
}

.settingsLeftContainer {
    padding-bottom :32px;
    width: 190px;
    display: flex;
    position: relative;
}

.footerText {
    text-align: center;
    color: white !important;
    padding-top: 6px;
}