/*#appMount {
    width: 100%;
    height: 100%;
}*/

.loginBack {
    background-color: #1CBFE2;
    height: 100vh;
}

.logoDiv {
    /*background-color: red;*/
    height: 30vh;
    width: 60vh;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    vertical-align: baseline;
    align-items: center;
    font-size: 25vh;
}

.fbLogo {
    width: 33.33%;
    /*padding-bottom: 33.33%;*/
    /*height: 20vh;*/
    display: inline-block;
}

.discordLogo {
    width: 20vh;
    height: 20vh;
    display: inline-block;
}

.loginPlus {
    display: inline-block;
    color: white;
    position: relative;
    width: 20vh;
    height: 20vh;
    text-align: center;
    line-height: 100%;
    left: 1%;
    bottom: 3.5%;
    user-select: none;
    cursor: default;
}

.loginBody {
    height: calc(65vh - 32px - 64px);
    background-color: #FFFFFF;
}

.loginText {
    padding-top: 48px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    text-align: center;
    display: block;

}

.authButton {
    width: 500px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    vertical-align: center;
    margin-top: 32px;
    background-color: #7289DA;
    color: #FFF;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    display: block;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.authButton:hover {
    background-color: #546bbf;
}