@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Lato');

a, p, div {
	font-family: Helvetica, Arial;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

p {
	margin: 0;
	padding: 10px;
}

a {
	color: inherit;
}

.header {
	height: 64px;
	width: 100%;
	background-color: #2C2C2C;
}

.title {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 32px;
	font-size: 32px;
	font-family:'Fugaz One';
	text-align: center;
	color: white;
	padding-top: 6px;
	user-select: none;
	cursor: default;
}