@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Lato');

a, p, div {
	font-family: Helvetica, Arial;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

p {
	margin: 0;
	padding: 10px;
}

a {
	color: inherit;
}